<div class="container">
  <div class="lgForm">
    <form >

      <h1>SIGNUP</h1>
        <div class="form-Group">
            <div class="col-lg-8">
                <div class="row">
                    <label class="p1">Username</label>
                    <div class="t1">
                      <input type="text" id="username" placeholder="username" name="username" formControlName="username"  class="form-control">
                    </div>

                </div>
            </div>
        </div>
        <div class="form-Group">
            <div class="col-lg-8">
                <div class="row">
                    <label class="p2">Email</label>
                    <div class="t2">
                      <input type="text" id="email" placeholder="email" name="email"  formControlName="email" class="form-control">
                    </div>

                </div>
            </div>
        </div>

          <div class="form-Group">
              <div class="col-lg-8">
                  <div class="row">
                      <label class="p3">Password</label>
                      <div class="t3">
                        <input type="text" id="password" placeholder="password" name="password" formControlName="password"class="form-control">
                      </div>

                  </div>
              </div>
          </div>

          <div class="form-Group">
            <div class="col-lg-3">
                <div class="row3">
                   <button>SignUp</button>
                </div>
            </div>
        </div>


    </form>
  </div>
</div>
