
  <div class="container-fluid">

    <div class="col-lg-12">
    <div class="row">
      <div>

      </div>
    <nav class="nest">
    <a class="a" routerLink="/home">HOME</a>
    <a class="a" routerLink="/login">LOGIN</a>
    <a class="a" routerLink="/signup">SIGNUP</a>
    <a class="a" routerLink="/employee">EMPLOYEE</a>
    <a class="a" routerLink="/create">CREATEEMPLOYEE</a>
    <a class="a" routerLink="/clgdetails">COLLEGE</a>
    <a class="a" routerLink="/userlist">USERLIST</a>


    </nav>
    </div>
    </div>
    </div>

<html>
  <body>
    <router-outlet></router-outlet>
  </body>

</html>


    <footer>

    </footer>



